* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #fffcf7;
    /* #fffcf7 */
}

.container {
    max-width: 45%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto
}

@media (max-width: 768px) {
    .container {
    width: 100%;
      /* Ekranın genişliğine tamamen sığacak şekilde ayarlayabilirsiniz */
    }
}

.guestbook-heading {
    color: #9d7777;
    /* #e97200 */
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    letter-spacing: 0.1em;
}

.guestbook-entry-label {
    display: block;
    color: #201e1c;
    font-size: 1rem;

}

.guestbook-entry-input {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    background-color: #efe3dd; /*#fff*/
    color: #201e1c;
    border: 0.0625rem solid #4c5866 ;
    border-radius: 0.75rem;
    font-family: inherit;
    line-height: 1.5rem;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.75rem;
    margin-top: 0.25rem;

}

.guestbook-entry-input:focus {
    outline: none;
    border: 0.0625rem solid #e97200 ;
}

.guestbook-form-button {
    text-align: center;

}

.button {
    font-family: inherit;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    border: 0px solid transparent;
    color:#fff;
    background-color: #b38888;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

.button:hover {
    color: #201e1c;
    background-color:#b3888835 ;
    transition: 0.4s;
}

.guestbook-separator {
    -webkit-appearance: none;
    appearance: none;
    border: 0.03125rem solid #4c5866 ;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.guestbook-entry {
    background-color: #efe3dd; /*#fff*/
    color: #201e1c;
    border: 0.0625rem solid #4c5866 ;
    border-radius: 0.5rem;
    padding: 1rem 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

}
.guestbook-entry-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.guestbook-entry-title {
    color: 	#b38888;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25rem;
}

.guestbook-entry-author {
    white-space: nowrap;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}

.guestbook-entry-content > p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
}


.guestbook-entry-content > p:last-child {
    margin-bottom: 0;
}


.guestbook-pagination {
    margin: 1.75rem -0.5rem;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.guestbook-pagination-a{
    color: #fff;
    display: block;
    min-width: 2.5rem;
    padding: 0.25rem 0.5rem;
    line-height: 1.5rem;
    text-decoration: none;
    border-radius: 0.5rem;
    background-color: #b38888;
    text-align: center;
    margin: 0.25rem 0.5rem;
}

.guestbook-pagination-a:hover{
    background-color: #b3888842;
    transition: 0.4s;
}

.guestbook-pagination-active, .guestbook-pagination-active:hover {
    background-color: #4c5866;
}

.guestbook-footer {
    color: #4c5866;
    margin-bottom: 2rem;
}

.success-message {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 4px;
}

